.card-2{
    max-width:450px ;
   border-radius: 25px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border: solid 0.5px rgb(222, 222, 222);
}
.card-2-img img{
    margin: 20px 0 10px 0;
    width: 400px;
    height: 225px;
    border-radius: 10px;
}
.card-2-img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.h5-card-two{
    font-weight: normal;
    line-height: 25px;
        color: black;
        margin: 0px 50px;
        max-width: 500px;
}
.p-card-two{
    line-height: 25px;
    color: rgb(71, 71, 71);
    margin: 10px 50px 30px 50px ;
    max-width: 500px;
}
.h2-card-two{
    margin-left: 50px;
    color: black;
}