.land-page{
    width: 100%;
    height: 100vh;
    background-image: url('../../../img/BGjpg.jpg');
   
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
      
        
}
.cards-holder{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}